spring:
  application:
    name: yonghe-min-frist
  cloud:
    bus:
      trace:
        enabled: true
      enabled: true
  sleuth:
      web:
        client:
          enabled: true
      sampler:
        probability: 1.0 # 将采样比例设置为 1.0，也就是全部都需要。默认是 0.1
  zipkin:
      base-url: http://localhost:9411/ # 指定了 Zipkin 服务器的地址
  boot:
      admin:
          client:
              url: http://localhost:8081
              password: admin
              username: 123123
              instance:
                  prefer-ip: true
                  service-base-url: http://localhost:8081
log: #Log
  path: /opt/log/shuma/
  appname: open/min/api/
  level: INFO
server:
    port: 8083
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
      health:
          show-details: ALWAYS