<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hoperun.shuma.module.mapper.FeedBackMapper" >
  <resultMap id="BaseResultMap" type="com.hoperun.shuma.bean.FeedBack" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="delete_status" property="deleteStatus" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="FeedBack_type" property="FeedBackType" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="iphone" property="iphone" jdbcType="VARCHAR" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="suggest" property="suggest" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, delete_status, update_time, feedback_type, img, iphone, member_id,
    suggest
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from eshop_feedback_${tablePrefix}
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from eshop_feedback_${tablePrefix}
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hoperun.shuma.bean.FeedBack" >
    insert into eshop_feedback_${tablePrefix} (id, create_time, delete_status, 
      update_time, FeedBack_type, img, 
      iphone, member_id, suggest
      )
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{FeedBackType,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, 
      #{iphone,jdbcType=VARCHAR}, #{memberId,jdbcType=INTEGER}, #{suggest,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hoperun.shuma.bean.FeedBack" >
    insert into eshop_feedback_${tablePrefix}
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="deleteStatus != null" >
        delete_status,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="FeedBackType != null" >
        FeedBack_type,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="iphone != null" >
        iphone,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="suggest != null" >
        suggest,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="FeedBackType != null" >
        #{FeedBackType,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="iphone != null" >
        #{iphone,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="suggest != null" >
        #{suggest,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hoperun.shuma.bean.FeedBack" >
    update eshop_feedback_${tablePrefix}
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        delete_status = #{deleteStatus,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="FeedBackType != null" >
        FeedBack_type = #{FeedBackType,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="iphone != null" >
        iphone = #{iphone,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="suggest != null" >
        suggest = #{suggest,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hoperun.shuma.bean.FeedBack" >
    update eshop_feedback_${tablePrefix}
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      delete_status = #{deleteStatus,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      FeedBack_type = #{FeedBackType,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      iphone = #{iphone,jdbcType=VARCHAR},
      member_id = #{memberId,jdbcType=INTEGER},
      suggest = #{suggest,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>