<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hoperun.shuma.module.mapper.TopicMapper" >
  <resultMap id="BaseResultMap" type="com.hoperun.shuma.bean.Topic" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="delete_status" property="deleteStatus" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="is_recommend" property="isRecommend" jdbcType="BIT" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="price_info" property="priceInfo" jdbcType="DOUBLE" />
    <result column="sub_title" property="subTitle" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="top" property="top" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, delete_status, update_time, content, is_recommend, pic, price_info, 
    sub_title, title, top
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from eshop_Topic_${tablePrefix}
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from eshop_Topic_${tablePrefix}
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hoperun.shuma.bean.Topic" >
    insert into eshop_Topic_${tablePrefix} (id, create_time, delete_status, 
      update_time, content, is_recommend, 
      pic, price_info, sub_title, 
      title, top)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}, #{isRecommend,jdbcType=BIT}, 
      #{pic,jdbcType=VARCHAR}, #{priceInfo,jdbcType=DOUBLE}, #{subTitle,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{top,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.hoperun.shuma.bean.Topic" >
    insert into eshop_Topic_${tablePrefix}
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="deleteStatus != null" >
        delete_status,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="isRecommend != null" >
        is_recommend,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="priceInfo != null" >
        price_info,
      </if>
      <if test="subTitle != null" >
        sub_title,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="top != null" >
        top,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="isRecommend != null" >
        #{isRecommend,jdbcType=BIT},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="priceInfo != null" >
        #{priceInfo,jdbcType=DOUBLE},
      </if>
      <if test="subTitle != null" >
        #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="top != null" >
        #{top,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hoperun.shuma.bean.Topic" >
    update eshop_Topic_${tablePrefix}
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        delete_status = #{deleteStatus,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="isRecommend != null" >
        is_recommend = #{isRecommend,jdbcType=BIT},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="priceInfo != null" >
        price_info = #{priceInfo,jdbcType=DOUBLE},
      </if>
      <if test="subTitle != null" >
        sub_title = #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="top != null" >
        top = #{top,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hoperun.shuma.bean.Topic" >
    update eshop_Topic_${tablePrefix}
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      delete_status = #{deleteStatus,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      is_recommend = #{isRecommend,jdbcType=BIT},
      pic = #{pic,jdbcType=VARCHAR},
      price_info = #{priceInfo,jdbcType=DOUBLE},
      sub_title = #{subTitle,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      top = #{top,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>