spring:
  application:
    name: yonghe-config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/IceNardus/spring-cloud-example # 配置git仓库的地址
          search-paths: conf # git仓库地址下的相对地址，可以配置多个，用,分割。
  boot:
        admin:
          client:
            url: http://localhost:8081
            password: admin
            username: 123123
            instance:
                prefer-ip: true
                service-base-url: http://localhost:8081

  rabbitmq:
      host: 10.20.0.66
      port: 5672
      username: shuma
      password: q1w2e3r4
server:
  port: 12000
eureka:
  instance:
        leaseRenewalIntervalInSeconds: 10
        health-check-url-path: /actuator/health
  client:
    service-url:
      client:
          registerWithEureka: false
          fetchRegistry: false
          defaultZone: http://admin:123456@localhost:8761/yonghe/


management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
        show-details: ALWAYS
endpoints:
  bus:
    enabled: true
    sensitive: false

info:
  version: @project.version@