spring:
  application:
    name: yonghe-turbine-stream-rabbitmq
  rabbitmq:
     host: 10.20.0.66
     port: 5672
     username: shuma
     password: q1w2e3r4
  boot:
     admin:
        client:
          url: http://localhost:8081
          password: admin
          username: 123123
          instance:
              prefer-ip: true
              service-base-url: http://localhost:8081
eureka:
  instance:
      leaseRenewalIntervalInSeconds: 10
      health-check-url-path: /actuator/health
  client:
    service-url:
      client:
          registerWithEureka: false
          fetchRegistry: false
          defaultZone: http://admin:123456@localhost:8761/yonghe/

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
        show-details: ALWAYS

info:
  version: @project.version@

logging:
  path: E:\log\logs\turbine-stream-rabbitmq
  file: turbine-stream-rabbitmq-info.log
  level:
    root: INFO
